.advantages {
  background-color: #f2f2f2;
  padding: 71px 30px 287px;
  background-image: url("../img/iphone-screen-mobile@1x.png"), url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% calc(100% + 43px), 0 0;
  background-size: 157px 320px, 100%;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png"), url("../img/bg-triangle-white.svg");
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.advantages__item {
  width: 260px;
}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 11px;
}

.advantages__text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
  margin: 0;
  margin-bottom: 32px;
}

@media (min-width: 660px) {
  .advantages {
    padding: 112px 0 33px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png"), url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: calc(50% - 175px) 100%, 0 0;
    box-sizing: border-box;
    background-size: 268px 481px, 170%;
    background-color: #f2f2f2;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png"), url("../img/bg-triangle-white.svg");
    }
  }

  .advantages__list {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 620px;
  }

  .advantages__item {
    width: 310px;
    margin-bottom: 35px;
  }

  .advantages__title {
    text-align: left;
  }

  .advantages__text {
    text-align: left;
    margin-bottom: 0;
  }
}

@media (min-width: 660px) AND (max-width: 959px) {
  .advantages__item:last-child {
    margin-bottom: 10px;
  }
}

@media (min-width: 960px) {
  .advantages {
    padding: 0;
    background: url("../img/bg-triangle-white.svg");
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    padding-bottom: 31px;
  }

  .advantages__list {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    width: 960px;
  }

  .advantages__item {
    width: 240px;
    padding-top: 357px;
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 292px 302px;
    margin-bottom: 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
    }
  }

  .advantages__item--third {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
    }
  }

  .advantages__item--second {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
    }
  }

  .advantages__title {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 24px;
  }

  .advantages__text {
    text-align: center;
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 30px;
  }
}
