.desc {
  background-color: #ffffff;
  padding: 45px 35px 49px;
}

.desc__item-mobile-hidden {
  display: none;
}

.desc__item {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  margin: 0 auto;
  padding: 0;
  max-width: 500px;
}

.desc--bottom {
  padding: 24px 33px 40px;
}

.desc--form {
  padding: 45px 25px 28px;
}

@media (min-width: 660px) {
  .desc__item-mobile-hidden {
    display: inline;
  }

  .desc {
    padding: 94px 40px 73px;
  }

  .desc__item {
    font-size: 18px;
  }

  .desc--bottom {
    padding: 47px 40px 68px;
  }

  .desc--form {
    padding: 94px 25px 45px;
  }
}

@media (min-width: 960px) {
  .desc {
    padding: 94px 40px 86px;
  }

  .desc__item {
    max-width: 600px;
  }

  .desc__item--form {
    max-width: 800px;
  }

  .desc--bottom {
    padding: 7px 40px 63px;
  }

  .desc--form {
    padding: 93px 40px 72px;
  }
}
