.lead {
  background-color: #ffffff;
  padding: 13px 40px 10px;
}

.lead__item {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #283645;
  padding: 0;
  line-height: 30px;
  margin-bottom: 30px;
}

@media (min-width: 660px) {
  .lead {
    padding: 45px 30px 8px;
  }

  .lead__item {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    color: #283645;
    padding: 0;
    line-height: 50px;
    margin: 0;
  }
}

@media (min-width: 960px) {
  .lead {
    padding: 67px 30px 75px;
  }

  .lead__item {
    font-size: 50px;
    margin: 0;
    line-height: 60px;
  }
}
