.post {
  background-color: #ffffff;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.post__image-link {
  width: 280px;
  height: 180px;
  display: block;
  margin: 0 auto;
}

.post__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.post__image-link--panorama {
  width: 320px;
  height: 137px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.post__image-link--panorama::before {
  content: attr(data-panorama-text);
  position: absolute;
  z-index: 20;
  top: 0;
  right: 20px;
  padding: 6px 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #d22856;
  color: #ffffff;
}

.post__body {
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 18px 18px 9px;
}

.post__user-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  color: #283645;
  margin: 0;
  padding: 0;
}

.post__time-check {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #283645;
  text-transform: uppercase;
}

.post__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  color: #283645;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.post__like {
  box-sizing: border-box;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: left;
  color: #d22856;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.post__like-wrapper {
  display: flex;
  align-items: baseline;
}

.post__like-image {
  display: block;
  padding: 0;
  width: 13px;
  height: 12px;
  border: 0;
  background-color: transparent;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-right: 15px;
}

@media (min-width: 660px) {
  .post--panorama {
    padding-bottom: 49px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }

  .post__image-link {
    width: 300px;
    height: 300px;
    margin: 0;
  }

  .post__body {
    width: 300px;
    min-height: 155px;
    padding: 25px 27px 9px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .post__body--panorama {
    width: 620px;
    min-height: 121px;
    padding: 24px 32px 15px 27px;
    flex-direction: row;
  }

  .post__text--panorama {
    width: 510px;
    order: 1;
  }

  .post__image-link--panorama {
    width: 700px;
    height: 509px;
  }

  .post__image-link--panorama::before {
    top: 59px;
    right: 40px;
  }

  .post__like {
    margin-top: auto;
  }

  .post__like--panorama {
    width: 100px;
    margin-bottom: 0;
  }

  .post__like-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: auto;
  }

  .post__like-wrapper--panorama {
    align-items: center;
  }

  .post__like-image {
    order: 1;
    margin-right: 0;
    transform: translate(-5px, 4px);
  }

  .post__like-image--panorama {
    transform: translate(0, -1px);
  }
}

@media (min-width: 960px) {
  .post {
    margin-bottom: 34px;
  }

  .post__image-link--panorama::before {
    top: 54px;
    right: 130px;
  }

  .post--panorama {
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }

  .post__image-link {
    height: 400px;
  }

  .post__image--panorama {
    max-width: 100%;
    height: auto;
  }

  .post__image-link--panorama {
    width: 1200px;
    height: 506px;
  }

  .post__body {
    flex-direction: column;
    justify-content: flex-start;
  }

  .post__body--panorama {
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    min-height: 96px;
    padding: 24px 32px 10px 27px;
  }

  .post__text {
    margin-bottom: auto;
  }

  .post__text--panorama {
    width: 950px;
    margin-bottom: 13px;
  }

  .post__like {
    margin-top: auto;
    margin-bottom: 12px;
  }

  .post__like--panorama {
    margin: 0;
  }

  .post__like-image {
    transform: translate(-5px, 4px);
  }

  .post__like-wrapper--panorama {
    width: 120px;
  }

  .post__like-image--panorama {
    transform: translate(0, -1px);
  }
}
