.all-image {
  width: 47px;
  margin: 32px 17px 20px;
  overflow: hidden;
}
.system-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1;
}
.system-text {
  margin: 2px 20px;
  font-weight: 300;
  text-align: center;
}
