.system { padding-top: 468px;
  background-color: #1d2631;
  color: white;
  margin: 2px 20px;
  font-weight: 300;
  text-align: center;
  padding-left: 30px;
  padding-bottom: 45px;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;}
